@model MvcCv.Models.Entity.TblEducation

@{
    ViewBag.Title = "AddEducation";
    Layout = "~/Views/Shared/_AdimLayout.cshtml";
}


<br />
<h4>Yeni Eğitim Ekleme Sayfası</h4>
<br />
<form method="post">
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Heading, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Heading, "", new { @style = "color:red" })
    <br />
    @Html.Label("Alt Başlık 1")
    @Html.TextBoxFor(x => x.subtitle1, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.subtitle1, "", new { @style = "color:red" })
    <br />
    @Html.Label("Alt Başlık 2")
    @Html.TextBoxFor(x => x.subtitle2, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.subtitle2, "", new { @style = "color:red" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Date, "", new { @style = "color:red" })
    <br />
    @Html.Label("Genel Not Ortalaması (GNO)")
    @Html.TextBoxFor(x => x.GNO, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.GNO, "", new { @style = "color:red" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>


